* {
  margin: 0;
  padding: 0;
  border: 0;
}

.grid {
  border: 2px solid black;
}

#board {
  background-color: pink;
  height: 50vw;
  width: 90vw;
}

.bod {
  height: 1vw;
  width: 10vw;
  background-color: turquoise;
  position: relative;
  top: 49vw;
}
