* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;
}

.main {
    display: block;
  }

.up {
    text-align: center;
}

.phone {
  background-color: blue;
  color: white;
  width: 50vw;
  height: 55vw;
  margin: 0 auto;
  border-radius: 15%;

}

.under {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.logo {
  font-size: 5vw;
}

.top {
  width: 40vw;
  height: 2.2vw;
  margin: 0 auto;
  border: 2px dashed orange;
  background-color: #f5f5dc;
  border-bottom: none;
    color: black;
    font-family: 'Press Start 2P';
}

  .display {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-content: center;
  }

.in {
      background-color: #f5f5dc;
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 3vw;
      color: black;
      margin: 0;
      border: 2px dashed orange;
      border-top: none;
      font-family: 'Press Start 2P';
      font-size: 1.3vw;

}

.left {
    width: 28vw;
    border-right: none;
}

.right {
    width: 12vw;
}

  #start {
    width: 10vw;
    background-color: red;
    margin: 0 auto;
  }

  .down {
      margin-bottom: 4vw;
  }

/*#message {
  font-opacit: opacity: 0.6;
}

#score {
  opacity: 0.6;
}

#message {
  opacity: 0.6;
}*/

/*the game*/

#board {
  background-color: #f5f5dc;
  height: 40vw;
  width: 40vw;
  border: 2px dashed orange;
  margin: 0 auto;
}

.blocks {
  display: inline-block;
}

.field {
  height: 2vw;
  width: 2vw;
  background-color: #f5f5dc;
  position: relative;
  opacity: 0;
}

.snake {
  height: 2vw;
  width: 2vw;
  background-color: #39FF14;
  position: relative;
  opacity: 1;
  border-radius: 40%;
}

.head {
  height: 2vw;
  width: 2vw;
  background-color: #30D911;
  position: relative;
}

.apple {
  height: 2vw;
  width: 2vw;
  background-color: #FF3A59;
  position: relative;
  border-radius: 100%;
}
