* {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {

}

.main {
    display: block;
  }

.up {
    text-align: center;
}

.phone {
  background-color: blue;
  color: white;
  width: 50vw;
  margin: 0 auto;
}

.greeting {
  font-size: 12vw;
}

  .display {
    border: 2px solid red;
    text-align: center;
  }

  .down {
      margin-bottom: 4vw;
  }

#board {
  background-color: #f5f5dc;
  height: 40vw;
  width: 40vw;
  border: 2px dashed orange;
  margin: 0 auto;
}

.blocks {
  display: inline-block;
}

.field {
  height: 1vw;
  width: 1vw;
  background-color: #f5f5dc;
  position: relative;
  opacity: 0;
}

.snake {
  height: 1vw;
  width: 1vw;
  background-color: #39FF14;
  position: relative;
  opacity: 1;

}

.head {
  height: 1vw;
  width: 1vw;
  background-color: #30D911;
  position: relative;
}

.apple {
  height: 1vw;
  width: 1vw;
  background-color: #FF3A59;
  position: relative;
  border-radius: 80%;
}
